[transport-wss]
type=transport
protocol=wss
bind=0.0.0.0
local_net=172.16.0.0/16
external_media_address=172.16.208.59
external_signaling_address=172.16.208.59

[6001]
type=endpoint
context=default
disallow=all
allow=opus,ulaw,alaw,vp8,h264
auth=auth6001
aors=6001
dtls_verify=fingerprint
dtls_cert_file=/etc/asterisk/keys/asterisk.pem
dtls_ca_file=/etc/asterisk/keys/asterisk.crt
dtls_setup=actpass
ice_support=yes
use_avpf=yes
media_encryption=dtls
media_use_received_transport=yes
rtcp_mux=yes
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[auth6001]
type=auth
auth_type=userpass
password=YOUR_PASSWORD_HERE
username=6001

[6001]
type=aor
max_contacts=10
remove_existing=yes

[6002]
type=endpoint
context=default
disallow=all
allow=opus,ulaw,alaw,vp8,h264
auth=auth6002
aors=6002
dtls_verify=fingerprint
dtls_cert_file=/etc/asterisk/keys/asterisk.pem
dtls_ca_file=/etc/asterisk/keys/asterisk.crt
dtls_setup=actpass
ice_support=yes
use_avpf=yes
media_encryption=dtls
media_use_received_transport=yes
rtcp_mux=yes
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[auth6002]
type=auth
auth_type=userpass
password=YOUR_PASSWORD_HERE
username=6002

[6002]
type=aor
max_contacts=10
remove_existing=yes
